# Data Cleaning 

#### 1. Import pandas library.

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [3]:
import pymysql
import sqlalchemy as db

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [4]:
from sqlalchemy import create_engine
engine = db.create_engine('mysql+mysqlconnector://guest:relational@relational.fit.cvut.cz:3306/stats')
connection = engine.connect()
metadata = db.MetaData()

#### 4. Import the users table.

In [28]:
users = db.Table('users', metadata ,autoload=True, autoload_with=engine)
columns_users = users.columns
for i in columns_users:
    print(i)

users.Id
users.Reputation
users.CreationDate
users.DisplayName
users.LastAccessDate
users.WebsiteUrl
users.Location
users.AboutMe
users.Views
users.UpVotes
users.DownVotes
users.AccountId
users.Age
users.ProfileImageUrl

#### 5. Rename Id column to userId.

In [41]:
users_df = pd.read_sql('SELECT * FROM users', engine)
colnames = users_df.columns.to_list()

colnames[0] = 'userId'
colnames

users_df = pd.DataFrame(users_df, columns=colnames)

users_df

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,NaN,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,NaN,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,NaN,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,NaN,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,NaN,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,NaN,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,NaN,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,NaN,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,NaN,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,NaN,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [9]:
posts = db.Table('posts', metadata ,autoload=True, autoload_with=engine)

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [47]:
posts_df = pd.read_sql('SELECT * FROM posts', engine)
colnames2 = posts_df.columns.to_list()
colnames2[1] = 'postId'
colnames2[7] = 'userId'

posts_df = pd.DataFrame(posts_df, columns=colnames2)

posts_df

,Id,postId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,NaN,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,NaN,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,NaN,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,NaN,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,NaN,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,NaN,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,NaN,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,NaN,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,NaN,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",NaN,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,NaN,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",NaN,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,NaN,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,NaN,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,NaN,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,NaN,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,NaN,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,NaN,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,NaN,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,NaN,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [51]:
new_users = users_df[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

new_posts = posts_df[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [53]:
new_users.merge(new_posts, left_on='userId', right_on='userId', suffixes=('_left', '_right'))

MemoryError: Unable to allocate 27.6 GiB for an array with shape (3708932200,) and data type int64

#### 10. How many missing values do you have in your merged dataframe? On which columns?

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?