## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1=random.sample(range(100), k=80)
sample_list_1

[9,
 25,
 17,
 15,
 94,
 85,
 71,
 91,
 12,
 5,
 14,
 63,
 11,
 7,
 26,
 99,
 49,
 10,
 37,
 22,
 19,
 21,
 64,
 68,
 70,
 42,
 87,
 77,
 88,
 81,
 57,
 73,
 31,
 45,
 65,
 82,
 69,
 62,
 97,
 95,
 51,
 4,
 36,
 41,
 84,
 16,
 90,
 78,
 6,
 46,
 93,
 58,
 72,
 39,
 96,
 48,
 34,
 29,
 59,
 1,
 18,
 23,
 89,
 92,
 27,
 67,
 32,
 2,
 61,
 79,
 47,
 83,
 3,
 0,
 30,
 75,
 33,
 8,
 60,
 28]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [72]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []
for i in range(80):
    i = random.randint(0,100)
    sample_list_2.append(i)

print(sample_list_2)

[21, 78, 47, 17, 48, 78, 95, 77, 9, 86, 52, 57, 4, 18, 28, 32, 49, 71, 17, 89, 60, 64, 18, 8, 56, 88, 58, 46, 48, 57, 7, 1, 49, 0, 14, 13, 92, 20, 61, 34, 26, 99, 47, 42, 92, 81, 91, 98, 41, 24, 22, 48, 59, 31, 69, 31, 36, 30, 4, 62, 76, 47, 26, 91, 92, 79, 9, 80, 85, 49, 63, 35, 91, 100, 3, 44, 69, 19, 13, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)

print(len(set2))

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
# Your code here

new_elements = []

for i in set1:
    if i not in set2:
        new_elements.append(i)
set3 = set(new_elements)

print(set3)

{2, 5, 6, 10, 11, 12, 15, 16, 23, 25, 27, 29, 33, 37, 39, 45, 51, 65, 67, 68, 70, 72, 73, 75, 82, 83, 84, 87, 90, 93, 94, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [28]:
# Your code here
new_elements = []

for i in set2:
    if i not in set1:
        new_elements_2.append(i)
set4 = set(new_elements_2)

print(set4)

{98, 35, 100, 44, 13, 76, 80, 20, 52, 86, 24, 56}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here

set5 = set1.intersection(set2)

set5

{0,
 1,
 3,
 4,
 7,
 8,
 9,
 14,
 17,
 18,
 19,
 21,
 22,
 26,
 28,
 30,
 31,
 32,
 34,
 36,
 41,
 42,
 46,
 47,
 48,
 49,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 69,
 71,
 77,
 78,
 79,
 81,
 85,
 88,
 89,
 91,
 92,
 95,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [26]:
# Your code here
#i don't understand what this exercise is asking me to do. 
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
59
33
12
47

#### Create an empty set called `set6`.

In [58]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [60]:
# Your code here

#tried to make it with update method but it brings me back 'None'. Intersection returns a set.

set6 = set3.intersection(set5)

print(set6)

{0, 1, 3, 4, 7, 8, 9, 14, 17, 18, 19, 21, 22, 26, 28, 30, 31, 32, 34, 36, 41, 42, 46, 47, 48, 49, 57, 58, 59, 60, 61, 62, 63, 64, 69, 71, 77, 78, 79, 81, 85, 88, 89, 91, 92, 95, 99}

#### Check if `set1` and `set6` are equal.

In [54]:
# Your code here

print(len(set1))
print(len(set6))

80
47

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [64]:
# Your code here

checking = set1.issubset(set2)
print(checking)

checking2 = set1.issubset(set3)
print(checking2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [67]:
# Your code here

all_sets = set3.union(set4, set5)

all_sets = set1.union(set2)
print(all_sets)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [73]:
# Your code here

set1.pop()

print(len(set1))

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [76]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 16, 17, 18, 22, 23, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 42, 45, 46, 47, 48, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 75, 77, 78, 82, 83, 84, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97}